.swiper {
  width: 380px;
  height: 420px;
  padding: 30px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.swiper-slide:nth-child(1n) {
    background: linear-gradient(420deg, #40010D, #A6243C );
    border: 2px solid #0D0D0D;
}

.dark .swiper-slide:nth-child(1n) {
    background: linear-gradient(420deg, #9305F2, #200F8C );
    border: 2px solid #090126;
  }


/* redblack: '#40010D',
          redlight: '#A6243C',
          redbold: '#F20505',
          whitecustom: '#F2F2F2',
          blackcustom: '#0D0D0D',
        },
        dark: {
          100: '#9305F2',
          200: '#4703A6',
          300: '#1D0259',
          400: '#150140',
          500: '#090126',
          600: '#2EF2DF',
          700: '#3316F2',
          800: '#200F8C', */