@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LerkorDevFont';
  src: url('/fonts/lerkor-dev-font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.lerkor-title {
  /* Utiliza la fuente personalizada en el cuerpo del documento */
  font-family: 'LerkorDevFont', sans-serif;
}

.dark .lerkor-logo {
  filter: drop-shadow(0 0 0.666rem #ffffff) invert(1) /* Sombra para el modo oscuro */
}