ul {
  list-style: none;
}

.main {
  padding: 5em 1.5em;
}

.cards {
  /* position: relative;
  z-index: 9999;
  background-color: aqua; */
}

.cards__inner {
  display: grid;
  grid-template-areas:
    "card1 card2 card2 card3"
    "card1 card4 card4 card5"
    "card6 card6 card7 card5";
  grid-gap: 2.5em;
  margin: 0 auto; /* Centra el bloque de cards */
  max-width: 75rem; /* Puedes ajustar esto según tus necesidades */
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 3rem 1rem;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  align-items: start;
  gap: 1rem;
  color: #eceff1;
  /* background-color: #2b2b2b; */
  background-color: transparent;
  border: 1px solid ; /* #eceff133 */
  border-radius: 15px;
  border-color: hsla(var(--hsl), 1);

}

.card:nth-child(1) {
    grid-area: card1;
    --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
  background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1704326094/Projects/Mitsumichi%20Motor%20Cycles/WhatsApp_Image_2024-01-03_at_8.50.44_PM_w00zpj.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
}

.card:nth-child(2) {
    grid-area: card2;
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
  background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1704326698/Projects/Elixir%20Cars/logo_elixir_cars_at9g39.png) no-repeat;
    background-size:contain;
    background-position: center;
    filter: brightness(0.6);
    z-index: 60;
}

.card:nth-child(3) {
  grid-area: card3;
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
  background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1704327228/Projects/Countries%20App/logo_g62byl.png) no-repeat;
  background-size:contain;
  background-position: center;
  filter: brightness(0.6);
}

.card:nth-child(4) {
  grid-area: card4;
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
  background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1701581589/Logos%20Portfolio/svg-3_ylck2b.svg) no-repeat;
  background-size:contain;
  background-position: center;
  filter: brightness(0.9);
}

.card:nth-child(5) {
  grid-area: card5;
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
  background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1704326138/Projects/Notes/WhatsApp_Image_2024-01-03_at_8.49.56_PM_rsiapo.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
}
  
  .card:nth-child(6) {
    grid-area: card6;
    --hue: 291.34;
    --saturation: 95.9%;
    --lightness: 61.76%;
    background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1704327051/Projects/KDA%20Parallax%20Effect/logo_oudoad.png) no-repeat;
    background-size:contain;
    background-position: center;
    filter: brightness(0.6);

  }
  
  .card:nth-child(7) {
    grid-area: card7;
    --hue: 291.34;
    --saturation: 95.9%;
    --lightness: 61.76%;
    background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1704327772/Projects/Rick%20and%20Morty/logo_es_myv2dy.png) no-repeat;
    background-size: contain;
    background-position: center;
  filter: brightness(0.6);
 
  }


  

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  /* background: hsla(var(--hsl), 0.1); */
}

@media screen and (max-width: 600px) {
  .cards__inner {
    display: grid;
  grid-template-areas:

  "card1 card3"
  "card1 card2"
  "card4 card4"
  "card7 card5"
  "card6 card5";   
  grid-gap: 0.6rem;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 3rem 1rem;
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  gap: 1rem;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;

}
  
}
